<!DOCTYPE html>
<html style="font-size:14px;">
	<head>
		<title>JustHS server</title>
        {% load static %}
        <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
        <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{% static 'logo.png' %}">
    </head>

	<body>
        <noscript>This web page requires JavaScript, which is disabled in your browser.</noscript>
        <header>
            <nav class="navbar navbar-light navbar-expand-sm bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'logo.png' %}" alt="J" height="40"> JustHS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleMainMenu"><span class="navbar-toggler-icon"></span></button>
                <div id="collapsibleMainMenu" class="collapse navbar-collapse"><ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'input' %}">Input</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'results' 'example' %}">Example</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'help' %}">Help</a></li>
                </ul></div>
            </div>
            </nav>
        </header>
        <div id="content" class="container-fluid">{% block content %}{% endblock %}</div>
	</body>
</html>
