{% extends 'base.html' %}
{% block content %}

<h1>Input data</h1>
{% load crispy_forms_tags %}
<form method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
{{ form|crispy }}
<p>
<input type="submit" class="btn btn-secondary" value="Submit">
</form>

{% endblock %}
