{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if refresh %}

<p>Calculation is running.</p<>
<p>When it finishes, the results will be available in <a href="{{ request.path }}">this page</a>.</p>
<p>Refreshing every 10 seconds.</p>
<meta http-equiv="refresh" content="10">

{% else %}

<h1>Hot-spot prediction results</h1>
<p>
<a class="btn btn-secondary" href="{% url 'download_csv' job_id=job_id %}" download>Download predictions</a>
<a class="btn btn-secondary" href="{% url 'download_all' job_id=job_id %}">Download all data</a>
</p>

<div class="row">

<div class="col-xl-4 col-12" style="width:490px;">
<script type="text/javascript" src="{% static 'jsmol/JSmol.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jsmol/js/Jmol2.js' %}"></script>
<script type="text/javascript">
var Info = {
	color: "#000000",
	height: 480,
	width: 480,
	use: "HTML5", 
    j2sPath: "{% static 'jsmol/j2s' %}",
	isSigned: false,
	memoryLimit: 512,
    serverURL: "{% static 'jsmol/php/jsmol.php' %}",
	disableJ2SLoadMonitor: true,
	disableInitialConsole: true
};
Jmol.getApplet("jsmol_view", Info);
Jmol.setButtonCss("btn btn-secondary m-1");
Jmol.script(jsmol_view, "load '{% url 'download_pdb' job_id=job_id %}'; {{ jsmol_scripts.init }}")
Jmol.script(jsmol_view, "{{ jsmol_scripts.max }}");
Jmol.jmolButton(jsmol_view, "{{ jsmol_scripts.max }}", "Consensus (max)");
Jmol.jmolButton(jsmol_view, "{{ jsmol_scripts.mean }}", "Consensus (mean)");
Jmol.jmolBr();
Jmol.jmolButton(jsmol_view, "{{ jsmol_scripts.pls }}", "Logistic PLS");
Jmol.jmolButton(jsmol_view, "{{ jsmol_scripts.gbm }}", "GBM");
Jmol.jmolButton(jsmol_view, "{{ jsmol_scripts.rf }}", "Random Forest");
Jmol.jmolButton(jsmol_view, "{{ jsmol_scripts.rpart }}", "Recursive Partitioning");
Jmol.jmolButton(jsmol_view, "{{ jsmol_scripts.svm }}", "SVM");
</script>
</div>

<div class="col-lg-8 col-12">
<link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.min.css' %}"/>
<script type="text/javascript" src="{% static 'datatables/datatables.min.js' %}"></script>
<table id="results_table" class="table table-striped text-center table-hover table-sm">
<thead class="align-middle">
	<tr>
		<th>Chain</th>
		<th>Position</th>
		<th>Aminoacid</th>
		<th>Consensus (max)</th>
		<th>Consensus (mean)</th>
		<th>Logistic PLS</th>
		<th>GBM</th>
		<th>Random Forest</th>
		<th>Recursive Partitioning</th>
		<th>SVM</th>
	</tr>
</thead>
<tbody>
{% for r in results %}
	<tr>
		<td>{{ r.Chain }}</td>
		<td>{{ r.Position }}</td>
		<td>{{ r.Aminoacid }}</td>
		<td>{{ r.max|floatformat:4 }}</td>
		<td>{{ r.mean|floatformat:4 }}</td>
		<td>{{ r.pls|floatformat:4 }}</td>
		<td>{{ r.gbm|floatformat:4 }}</td>
		<td>{{ r.rf|floatformat:4 }}</td>
		<td>{{ r.rpart|floatformat:4 }}</td>
		<td>{{ r.svm|floatformat:4 }}</td>
	</tr>
{% endfor %}
</tbody>
</table>
</div>
<script>
$(document).ready(function() {$('#results_table').DataTable({paging: false, info: false, searching: false, order: [[3, "desc"]]})});
</script>
</div>

{% endif %}

{% endblock %}
