{% extends 'base.html' %}
{% block content %}

<h1>JustHS</h1>
<p>This is a web server for prediction of hot-spot residues in protein-protein interfaces.</p<>
<p><a href="{% url 'input' %}">Input protein structure</a></p>

{% endblock %}
